input:focus {
  border-bottom: 1px solid #E53935 !important;
  box-shadow: 0 1px 0 0 #E53935 !important;
}

.material-icons.active {
  color: #E53935 !important;
}

textarea:focus {
  border-bottom: 1px solid #E53935 !important;
  box-shadow: 0 1px 0 0 #E53935 !important;
}

label.active {
  color: #E53935 !important;
}

.dropdown-content li>span {
  color: #E53935 !important;
}

.dropdown-content li>a {
  color: #E53935 !important;
}

.select-content li>span {
  color: #E53935 !important;
}

.select-content li>a {
  color: #E53935 !important;
}