{% extends 'home.html' %}
{% load static %}

{% block title %}Products list{% endblock %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Search</button>
    </form>
    <h1>Products list</h1>
    <ul>
        {% if search %}
            {% for product in products_found %}
                {% comment %} other attributes maybe picture of product {% endcomment %}
                <a href="{{ product.id }}/"><b>{{ product.name }}</b></a>
                <br>
            {% endfor %}
            <a href={% url 'product-list' %}>Backt to all Products</a><br>
        {% else %}
            {% for product in all_products %}
                {% comment %} other attributes maybe picture of product {% endcomment %}
                <a href="{{ product.id }}/"><b>{{ product.name }}</b></a>
                <br>
            {% endfor %}
        {% endif %}
    </ul>
    {% if user.is_authorized %}
    <a href={% url 'product-create' %}>Add a new product</a><br>
    {% endif %}
{% endblock %}