{% extends 'home.html' %}
{% load static %}

{% block title %}Product detail{% endblock %}

{% block content %}
<h1>Product details</h1>
        <h2>{{ that_one_product.name }}</h2>
        <table>
            {% comment %} pictures, pdf and other attributes of product missing {% endcomment %}
             <tr>
                 <td><b>Name:</b></td>
                 <td>{{ that_one_product.name }}<br></td>
             </tr>
             <tr>
                <td><b>Description:</b></td>
                <td>{{ that_one_product.description }}<br></td>
             </tr>
             <tr>
                <td><b>Price:</b></td>
                <td>{{ that_one_product.price }}<br></td>
             </tr>
             {% if that_one_product.pdf %}
                <tr>
                    <td><b>Pdf:</b></td>
                    <td><a href="{{ that_one_product.pdf.url }}">Product Info Pdf</a><br></td>
                </tr>
            {% endif %}
        </table>
        {% for image in product_images %}
            <img src="{{ image.image.url }}" height="150" width="150"><br>
        {% endfor %}

        {% for review in product_reviews %}
            <b style="color: #63a0cf">{{ review.stars }} Stars {{ review.user.username }} on {{ review.timestamp }}</b><br>
            {{ review.title }} {{ review.text }}<br><br>
            <span style="color: darkgreen">{{ review.get_useful_count }}</span>
            <a href="{% url 'review-vote' that_one_product.id review.id 'useful' %}" style="text-decoration: none">
                UP
            </a>
            &nbsp;&nbsp;&nbsp;
            <span style="color: crimson">{{ review.get_useless_count }}</span>
            <a href="{% url 'review-vote' that_one_product.id review.id 'useless' %}" style="text-decoration: none">
                DOWN
            </a>
            <br><br>
            {% if review.user == user %}
                <br>
                <a href="{% url 'review-delete' that_one_product.id review.id %}"><b>Delete Review</b></a>
                <br>
                <a href="{% url 'review-edit' that_one_product.id review.id %}"><b>Edit Review</b></a>
                <br>
            {% elif is_authorized %}
                <a href="{% url 'review-delete' that_one_product.id review.id %}"><b>Delete Review</b></a>
                <a href="{% url 'report-list' that_one_product.id review.id %}"><b>Show Complaints</b></a>
            {% endif %}
            
            <a href="{% url 'report-create' that_one_product.id review.id %}"><b>Report Review</b></a>
        {% endfor %}
        <br>

        <b>Do you have a review for this product?</b><br>
        <form method="POST">
            {% csrf_token %}
            {{ review_form.as_p }}
            <button type="submit">Add review</button>
        </form>

        {% if user.is_authenticated %}
        <br>
        <form method="POST">
            {% csrf_token %}
            {{ quantity_form.as_p }}
            <button type="submit" name="shopping_cart" >Add to shopping cart</button>
        </form>
        {% else %}
            <br><a href="{% url 'login' %}">Login</a> to add to shopping cart
            <br>
        {%  endif %}

        {% if is_authorized %}
        <br>
        <a href="{% url 'product-edit' that_one_product.id %}"><b>Edit product</b></a>
        <br>
        <a href="{% url 'product-delete' that_one_product.id %}"><b>Delete product</b></a>
        <br>
        {% endif %}
        <a href="{% url 'product-list' %}">Back to all products</a>
    <div>
{% endblock %}