{% extends 'home.html' %}
{% load static %}

{% block title %}Create report{% endblock %}
{% block content %} 
    <h1>Create report</h1>
    {% if user.is_authenticated %}
        {% block logged_in_content %}
            <p>Some Infos about the review <p>
            {{review.title}}
            {{review.text}}
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Create</button>
            </form>
    {% endblock %}
    {% else %}
        {% block not_logged_in_content %}
            <p>You must log in to write a review</p>
            <a id="login" href="{% url 'login' %}">Login</a>
        {% endblock %}
    {% endif %}
{% endblock %}