{% extends 'home.html' %}
{% load static %}

{% block title %}Amyzone - edit product review{% endblock %}
{% block content %}
    <div class="container">
        <h3>Edit review</h3>
        {% if user.is_authenticated %}
            {% block logged_in_content %}
                <form method="POST">
                    {% csrf_token %}
                    <div class="card white">
                        <div class="card-content">
                            <span class="card-title">Product details</span>
                            <div class="row">
                                <span class="chip red darken-1 white-text" id="review_stars">{{ review.stars }} Stars</span>
                                <span id="rateyo_review_stars" class="rateYo" data-rateyo-rating="{{ review.stars }}" data-rateyo-num-stars="5" data-rateyo-score="4" data-rateyo-multi-color="true" data-rateyo-full-star="true"></span>
                                <input type="number" name="stars" required id="id_stars" value="3" min="1" max="5" hidden>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    <label for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
                                    <input type="{{ form.title.field.widget.input_type}}" name="{{ form.title.html_name }}" value="{{ review.title }}" maxlength="100" required id="{{ form.title.id_for_label }}">
                                </div>
                                <div class="input-field col s6">
                                    <label for="{{ form.text.id_for_label }}">{{ form.text.label }}</label>
                                    <textarea class="materialize-textarea" name="{{ form.text.html_name }}" cols="40" rows="10" required id="{{ form.text.id_for_label }}">{{ review.text }}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="waves-effect btn red darken-1" type="submit"><i class="material-icons left">edit</i> Edit</button>
                        </div>
                    </div>
                </form>
        {% endblock %}
        {% else %}
            {% block not_logged_in_content %}
                <p>You must log in to write a review</p>
                <a id="login" href="{% url 'login' %}">Login</a>
            {% endblock %}
        {% endif %}
    </div>
{% endblock %}