{% extends 'home.html' %}
{% load static %}

{% block title %}Amytone - delete review{% endblock %}

{% block content %}
    <div class="container">
    <h3>Delete review</h3>
        <div class="card red darken-1 white-text">
            <form method="POST">
                {% csrf_token %}
                <div class="card-content">
                    <span class="card-title">Delete {{ that_one_review.name }}</span>
                    <p>Are you sure you want to delete the product {{ that_one_review.name }}?</p>
                </div>
                <div class="card-action">
                    <button type="submit" class="waves-effect waves-light btn white red-text text-darken-1"><i class="material-icons left">delete</i> Delete</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}