{% extends "base.html" %}

{% block title %}Amyzone{% endblock %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'theme.css' %}">
{% endblock %}

{% block shopping_cart %}
    {% if user.is_authenticated %}
        {{ request.user.count_shopping_cart_items }} items
    {% else %}
        no items
    {% endif %}
{% endblock %}

{% block sidenav %}
    {% if user.is_authenticated %}
        <ul id="userSidenav" class="sidenav sidenav-fixed z-depth-3">
            <li><div class="user-view">
                <div class="background red darken-1"></div>
                <a class="brand-logo"><img src="{% static '/images/amyzonelogo.png' %}" alt="Amyzone Logo" height="60"></a>
                <span class="white-text name"><h5>{{ user.username }}</h5></span>
                <span class="white-text email"><h6>{{ user.email }}</h6></span>
            </div></li>
            <li><a class="waves-effect red-text text-darken-1" href="{% url 'logout' %}"><i class="material-icons red-text text-darken-1">logout</i>Logout</a></li>
            <li><div class="divider"></div></li>
            <li><a class="subheader">Admin Functions</a></li>
            <li><a class="waves-effect" href="{% url 'myuser-list' %}"><i class="material-icons red-text text-darken-1">group</i>Users</a></li>
            <li><div class="divider"></div></li>
            <li><a class="subheader">User Functions</a></li>
            <li><a class="waves-effect" href="{% url 'product-list' %}"><i class="material-icons red-text text-darken-1">shopping_bag</i>Products</a></li>
        </ul>
    {% endif %}
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}

    {% else %}
        {% block not_logged_in_content %}
            <div class="container">
                <div class="row">
                    <div class="col s6 m3">
                        <img src="{% static '/images/amyzoneface.png' %}" alt="Amyzone Logo" width="350">
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6">
                        <div class="card red darken-1 z-depth-3">
                            <div class="card-content white-text">
                                <p>Willkommen bei Amyzone. Hier findest du die neuesten und angesagtesten Produkte, die du dir nur so ausdenken kannst. Natürlich immer zu den besten Preisen, versteht sich. Wir liefern nur allerbeste Qualität von handerlesenen, höchst vertrauensvollen Händlern. Dafür stehen wir mit unserem Namen.</p>
                                <br><p>Wenn du noch nicht Teil unserer Familie bist, dann regestriere dich jetzt.</p>
                                <br><a href="{% url 'signup' %}" class="waves-effect waves-light btn lime black-text"><i class="material-icons left">person_add</i>Signup</a>
                                <a href="{% url 'login' %}" class="waves-effect waves-light btn white black-text"><i class="material-icons left">login</i>Login</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6 m3">
                        <img src="{% static '/images/amyzonelogo.png' %}" alt="Amyzone Logo" width="350">
                    </div>
                </div>
            </div>
        {% endblock %}
    {% endif %}
{% endblock %}