{% extends "base.html" %}

{% block title %}Homepage{% endblock %}

{% block shopping_cart %}
    <a style="float: right;" href="{% url 'shopping-cart-show' %}">
        Shopping Cart (
        {% if user.is_authenticated %}
            {{ request.user.count_shopping_cart_items }}
        {% else %}
            0
        {% endif %}
        )
    </a>
{% endblock %}

{% block content %}
    <h1>Amazon 2.0</h1>
    {% if user.is_authenticated %}
        {% block logged_in_content %}
            <h2>Hi {{ user.username }}!</h2>
            <p><a href="{% url 'myuser-list' %}">Show me the users</a></p>
            <p><a href="{% url 'product-list' %}">Show me the products</a></p>
            <a href="{% url 'logout' %}">Logout</a>
        {% endblock %}
    {% else %}
        {% block not_logged_in_content %}
            <h2>You are not logged in!</h2>
            <a href="{% url 'login' %}">Login</a>
        {% endblock %}
    {% endif %}
    </div>
{% endblock %}