{% extends 'home.html' %}
{% load static %}

{% block title %}Amyzone - view shopping cart{% endblock %}
{% block shopping_cart %} {% endblock %}
{% block content %}
    <div class="container">
        <h3>Shopping cart</h3>
        {% if shopping_cart_is_empty %}
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Items in your shopping cart</span>
                    <p>Your shopping cart is empty.</p><br>
                    <a class="waves-effect waves-light btn white red-text text-darken-1" href="{% url 'product-list' %}"><i class="material-icons left">shopping_cart</i>Keep shopping</a>
                </div>
            </div>
        {% else %}
            <div class="card">
                <form method="POST">
                    {% csrf_token %}
                    <div class="card-content">
                        <span class="card-title">Items in your shopping cart</span><br>
                        <table class="striped highlight">
                            <thead class="red darken-1 white-text">
                                <tr>
                                    <th>Position</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Sum</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in shopping_cart_items %}
                                    <tr>
                                        <td>{{ item.product.name }}</td>
                                        <td>{{ item.product.price }} €</td>
                                        <td>{{ item.quantity }}x</td>
                                        <td>{{ item.get_itemSum }} €</td>
                                        <td><a class="waves-effect waves-light btn red darken-1" href={% url 'shopping-cart-item-delete' item.id %}><i class="material-icons left">delete</i>Delete</a></td>
                                    </tr>
                                {% endfor %}
                                <tr class="grey white-text">
                                    <td><b>Total amount</b></td>
                                    <td></td>
                                    <td></td>
                                    <td><b>{{ total }} €</b></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>

                        <br>
                        <button class="waves-effect waves-light btn red darken-1" type="submit" name="pay"><i class="material-icons left">credit_card</i>Pay</button>
                        <button class="waves-effect waves-light btn white red-text text-darken-1" type="submit" name="empty"><i class="material-icons left">remove_shopping_cart</i>Empty the shopping cart</button>
                        <a class="waves-effect waves-light btn white red-text text-darken-1" href="{% url 'product-list' %}"><i class="material-icons left">shopping_cart</i>Keep shopping</a>
                    </div>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}